.rolunk1
{
    
}
.rolunk2
{
    
}
.rolunk3
{
    
}
.rolunk4
{
    
}
.rolunk5
{
    
}
.vissza1
{
    font-size: 40px;
    color: red;
    font-style: italic;
    
}
body
{
    background-color: goldenrod;
}
h1
{
    font-size: 40px;
    font-style: italic;
}